html {
  font-size: 16px;
  background: #ef5de5;
  color: white;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
select,
input,
button {
  font-family: overpass, sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

form {
  /*padding: 1rem;*/
  width: 100%;
}

input[type="text"] {
  width: 100%;
  border: 1px solid white;
  background: #ef5de5;
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 .25em;
}

input[type="text"]:focus {
  color: #ef5de5;
  background: white;
  border: 1px solid white;
  outline: none;
}

select {
  border: 1px solid white;
  border-width: 0 0 1px;
  background: #ef5de5;
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 .25em;
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  width: 100%;
  border: 1px solid white;
  background: #ef5de5;
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 .25em;
  transition: all .3s ease;
}

button:hover {
  background: white;
  color: #ef5de5;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ef5de5;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: #ef5de5;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
  color: #ef5de5;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: #ef5de5;
}

.next {
  transform: translateX(120%);
}

.previous {
  transform: translateX(-120%);
}

.up {
  transform: translateY(-120%);
}

.screen-container {
  height: calc(100vh - 3rem);
  /*height: 100%;*/
  /*display: flex;*/
  /*flex-grow: 1;*/
}

.header {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background: rgba(255, 255, 255, .1);
}

.header h1 {
  margin: 0;
  font-size: 1rem;
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all .3s ease;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #ef5de5;
}

.form-content {
  flex-grow: 1;
}

.form-nav button {
  margin-bottom: 0;
}

.form-controls--inline {
  display: flex;
}

.form-controls--inline select {
  flex-grow: 1;
  /*margin-right: 1rem;*/
}

.form-controls--inline .btn--add {
  flex-grow: 0;
}

.btn--add {
  font-weight: bold;
  width: auto;
  padding: 0 1rem;
  margin-left: 1rem;
}