html {
  font-size: 16px;
  background: white;
  color: #000080;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
select,
input,
button,
textarea {
  font-family: overpass, sans-serif;
  font-size: 16px;
  font-weight: 200;
}

body,
select,
input,
button {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

a,
a:hover,
a:visited {
  color: #000080;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  border: 1px solid #000080;
  border-width: 0 0 1px;
  background: white;
  color: #000080;
  margin-bottom: 1rem;
  /*font-size: 1.5rem;*/
  height: 2rem;
  line-height: 2rem;
  padding: 0 .3rem;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
  color: #000080;
  background: white;
  border: 1px solid #000080;
  outline: none;
}

.form-controls--inline input[type="text"]:nth-child(n-1):focus {
  border-right-width: 0;
}

select {
  border: 1px solid #000080;
  border-width: 0 0 1px;
  background: white;
  color: #000080;
  margin-bottom: 1rem;
  /*font-size: 1.5rem;*/
  height: 2rem;
  line-height: 2rem;
  padding: 0 .3rem;
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  width: 100%;
  border: 1px solid #000080;
  background: white;
  color: #000080;
  margin-bottom: 1rem;
  /*font-size: 1.25rem;*/
  height: 2rem;
  line-height: 2rem;
  padding: 0;
  transition: all .3s ease;
  display: inline-block;
}

button:hover {
  background: #000080;
  color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000080;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000080;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000080;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000080;
}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.next {
  transform: translateX(120%);
}

.previous {
  transform: translateX(-120%);
}

.left {
  transform: translateX(-120%);
}

.up {
  transform: translateY(-120%);
}

.screen-container {
  height: calc(100vh - 3rem);
}

.Header {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background: rgba(120, 120, 250, .1);
}

.Header h1 {
  margin: 0;
  font-size: 1rem;
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.screen,
.drop-in {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all .3s ease;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: white;
}

.form-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.form-nav {
  margin-top: .5rem;
}

.form-nav button {
  margin-bottom: 1rem;
  height: 3rem;
  line-height: 3rem;
}

.form-nav button:last-child {
  margin-bottom: 0;
}

.form-nav--inline {
  display: flex;
}

.form-nav--inline button {
  width: 50%;
  margin: 0 .5rem;
  display: inline-block;
}

.form-nav--inline button:first-child {
  margin-left: 0;
}

.form-nav--inline button:last-child {
  margin-right: 0;
}

.form-controls--inline {
  display: flex;
}

.form-controls--inline select {
  flex-grow: 1;
  /*margin-right: 1rem;*/
}

.form-controls--inline .btn--add {
  flex-grow: 0;
}

.btn--add {
  font-weight: bold;
  width: 2rem;
  padding: 0;
  background: white;
  color: #000080;
  text-align: center;
}

.title--screen {
  font-size: 1.25rem;
}

.food-item-list {
  padding: 0;
  list-style: none;
  font-size: 1rem;
}

.bg-map__section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  padding: 0 .5rem;
}

.bg-map__option {
  flex-grow: 1;
  height: 33.33333%;
  margin-bottom: 1rem;
}

.bg-map__option.active {
  background: #000080;
  color: white;
}

.bg-map {
  display: flex;
  flex-grow: 1;
  margin: 0 -.5rem;
}

.removeFoodItem {
  font-size: 13px;
  font-weight: bold;
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  border-radius: 2rem;
  background: #000080;
  color: white;
  display: inline-block;
  text-align: center;
}

.MealSummary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.MealSummary .form-content {
  /*background: rgba(120, 120, 250, .1);*/
  border: 1px solid rgba(0, 0, 200, .1);
  padding: .5rem;
  margin-bottom: .5rem;
  overflow-y: scroll;
}

.MealSummary p,
.MealSummary h3,
.MealSummary ul {
  margin: 0 0 .5rem;
}
.MealSummary h3 {
  font-size: 16px;
  font-weight: bold;
}

.reveal__target {
 /* max-height: 0;
  height: 0;
  overflow: hidden;
  transition: all .3s ease;*/
}

.reveal__target.open {
 /* max-height: none;
  height: auto;*/
}

button.complete:after {
  content: '✔︎';
  margin-left: .5rem;
}

.screen--notes textarea {
  color: #000080;
  border: 1px solid #000080;
  padding: .5rem;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.Header h1 {
  display: inline-block;
  position: relative;
  top: 1px;
}

.revealNav {
  display: inline-block;
  float: left;
  margin-right: .5rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  margin-top: .5rem;
  margin-bottom: 0;
  border: none;
  /*display: flex;*/
}

.hamburger-bar {
  width: 70%;
  height: 3px;
  margin-bottom: 3px;
  background: #000080;
  display: block;
  margin: 4px auto;
  transition: all .3s ease;
}

.revealNav.open .hamburger-bar:first-of-type {
  transform: translateY(7px) rotate(-45deg);
}

.revealNav.open .hamburger-bar:last-of-type {
  transform: translateY(-7px) rotate(45deg);
}

.revealNav.open .hamburger-bar:nth-of-type(2) {
  opacity: 0;
}

.revealNav:hover,
.revealNav:active,
.revealNav:focus {
  background: transparent;
  color: #000080;
}

.main-nav {
  padding: 0;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.menu-list li a {
  font-size: 14px;
  height: 3rem;
  line-height: 3rem;
  text-decoration: none;
  display: block;
  padding: 0 1rem;
  background: rgba(255, 255, 255, .1);
  border-top: 1px solid rgba(60, 60, 60, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.menu-list li:nth-of-type(2n-1) a {
}

.menu-list > li > a:hover,
.menu-list > li > a:active,
.menu-list > li > a:focus {
  background: rgba(255, 255, 255, .2);

}

.Modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: rgba(239, 93, 229, .5);*/
  background: rgba(255, 255, 255, .5);
  transition: all .3s ease;
}

.Modal {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  padding: 20px;
}

.Modal h1 {
  margin-top: 0;
}

.viewport {
  width: 100vw;
  position: relative;
  height: calc(100vh - 3rem);
  transition: all .3s ease;
}

.viewport .screen-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.viewport .screen {
  width: 100vw;
  max-width: 800px;
  position: absolute;
  left: 0;
  top: 0;
}

.viewport .screen.next,
.viewport .screen.previous {
  transform: none;
}

.viewport .screen:nth-of-type(1n) {
  left: 0;
}

.viewport .screen:nth-of-type(2n) {
  left: 100vw;
}

.viewport .screen:nth-of-type(3n) {
  left: 200vw;
}

.viewport .screen:nth-of-type(4n) {
  left: 300vw;
}

.viewport .screen:nth-of-type(5n) {
  left: 400vw;
}

.viewport-screen-0 {
  left: 0;
}

.viewport-screen-1 {
  left: -100vw;
}

.viewport-screen-2 {
  left: -200vw;
}

.viewport-screen-3 {
  left: -300vw;
}

.viewport-screen-4 {
  left: -400vw;
}

